.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__link {
  font-weight: bolder;
  padding: .5em 1em;
  border: 1px solid $gray;
  text-decoration: none;
  color: inherit;

  &:hover {
    border: 1px solid $black;
  }

  &--active {
    color: $green;
    border: 1px solid $black;
  }
}
