.project {
  border: 1px solid $gray;
  padding: .5em;
  position: relative;
}

.project__title {
  font-weight: bold;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  white-space: nowrap;
}

.project__link {
  position: absolute;
  color: $green;
  right: .5em;

  &--top {
    top: .5em;
  }

  &--bottom {
    bottom: .5em;
  }
}

.project-list {
  margin-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  overflow: auto;
  max-height: calc(100vh - 12em); // 164px
}

.project-details {
  position: relative;
  padding: 1em 0;
}

.project-details__title {
  font-weight: bold;
  font-size: 1.9em;
  margin-bottom: .5em;
}

.project-details__description {
  font-style: italic;
  display: inline-block;
  margin-bottom: 1.5em;
}

.project-details__scores {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: $white;
  display: flex;
  align-items: center;

  .h__icon-copy {
    margin-left: 1em;
  }
}

.project__topics-wrap {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.project__topic {
  display: inline-block;
  font-size: .75em;
  border-radius: 2em;
  padding: .5em 1em;
  margin: 0 0.5em 0.5em 0;
  background-color: $green;
  color: $white;
}

.markdown-body {
  // padding: .25em;
  // background-color: $gray;
}
