.sidebar {
  grid-area: sidebar;

  .h__title {
    margin: 1em 0 .5em 0;
  }
}

.sidebar__username {
  font-size: 2em;
  font-weight: bold;
}

.sidebar__avatar-figure {
  // max-width: 220px;
}

.sidebar__avatar-caption {
  font-style: italic;
}
