@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900&display=swap');
@import "./variables";
@import "./reset";
@import "./_components/footer";
@import "./_components/welcome";
@import "./_components/auth";
@import "./_components/main";
@import "./_components/nav";
@import "./_components/header";
@import "./_components/sidebar";
@import "./_components/project";

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url(../img/loading.png) center/auto no-repeat;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  color: $black;
}

.app {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.route {
  width: 100%;
  max-width: 1200px;
  padding: 0 1em;
}

// HELPERS

.h__title {
  font-size: 1.5em;
  font-weight: bold;
}

.h__icon-copy {
  display: flex;
  align-items: center;
  line-height: 1.75;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  .MuiSvgIcon-root {
    margin-right: .5em;
  }

  .h__icon-link {
    color: $green;
  }
}
